@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    align-items:center;
    text-align: center;
    overflow-x: hidden;
    min-height: 100vh;
    background: url('../images/backgroundCategory.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}  
.content img{
    display: flex;
    width: 500px;
    height: auto;
    margin: 50px auto;
    border-radius: 5%;
}

.content h2 {
    margin: 50px auto;
    font-size: 48px;
    color: rgb(0, 0, 39);
    cursor: pointer;
    white-space: nowrap
}

.clo {
    font-size:24px;
    box-sizing: border-box;
    background: rgba(209, 237, 247, 0.647);
    margin: 50px auto;
    max-width: 750px;
    height: auto;
    border-radius: 30px;
}

.clo li{
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.5;
}

.content h3{
    margin: 50px auto;
    font-size: 48px;
    color: rgb(0, 0, 39);
    cursor: pointer;
}

table, th, td {
    border: 15px solid rgba(209, 237, 247, 0.647);
    margin: 50px auto;
    width: 1300;
    border-radius: 20px;
  }

  th, td {
    padding: 10px;
    margin: auto;
    text-align:center
  }

  tr:hover {
    background-color: #29b3b3;
    transition: 1s;
  }

  tr{
    font-size: 24px;
  }


  .button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #007bff;
}

.content p {
  font-size: 24px; 
  color: white; 
  margin-top: 30px; 
  line-height: 1.5;
  font-weight: bold; 
}

  

