
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

  .navbar {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 15px 0; 
  }
  
  .navbar img {
    vertical-align: middle; 
    margin-right: 5px; 
  }
  
  .navbar a {
    color: #fff; 
    text-decoration: none; 
    margin: 0 10px; 
  }
  .navbar a:hover {
    color: #ffcc00; 
  }

  .sign {
    background-color: #4CAF50; 
    color: white;
  }
  
  .log {
    background-color: #2196F3; 
    color: white;
  }
